fastapi==0.110.0
uvicorn[standard]==0.29.0

streamlit==1.33.0
requests==2.31.0

pandas==1.5.3
numpy==1.26.4
db-dtypes==1.2.0

google-cloud-bigquery==3.17.2
google-cloud-dialogflow-cx==1.16.0
google-cloud-aiplatform==1.47.0
google-cloud-storage==2.16.0

google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

reportlab==4.2.0
fpdf2==2.7.9